Enum2.DemoSoap/Enum2.DemoSoap/Service References/ServiceReference1/soap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetChallenge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consumerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="crc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChallengeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChallengeResult" type="tns:GetChallengeResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetChallengeResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Challenge" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QrUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckUserAnswer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consumerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="challenge" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="response" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="crc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserAnswerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckUserAnswerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetErrDesc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="errorCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetErrDescResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetErrDescResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetChallengeSoapIn">
    <wsdl:part name="parameters" element="tns:GetChallenge" />
  </wsdl:message>
  <wsdl:message name="GetChallengeSoapOut">
    <wsdl:part name="parameters" element="tns:GetChallengeResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUserAnswerSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUserAnswer" />
  </wsdl:message>
  <wsdl:message name="CheckUserAnswerSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="GetErrDescSoapIn">
    <wsdl:part name="parameters" element="tns:GetErrDesc" />
  </wsdl:message>
  <wsdl:message name="GetErrDescSoapOut">
    <wsdl:part name="parameters" element="tns:GetErrDescResponse" />
  </wsdl:message>
  <wsdl:portType name="SoapSoap">
    <wsdl:operation name="GetChallenge">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Question Number&lt;br&gt;
consumerId - client ID from project page https://enum.ru/Account/Consumers&lt;br&gt;
if ErrorCode = 301 user must be redirected to&lt;br&gt;
https://auth.enum.ru/permission/ask?consumerId={consumerId}&amp;email={email}&amp;redirectUrl={redirectUrl}&amp;nonce={nonce}&lt;br&gt;
host part of the redirectUrl must be equal to projects redirectUrl&lt;br&gt;
nonce is optional, passed back if present.&lt;br&gt;
User is redirected back to redirectUrl with allow=1 or deny=1 query parameter.</wsdl:documentation>
      <wsdl:input message="tns:GetChallengeSoapIn" />
      <wsdl:output message="tns:GetChallengeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserAnswer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check Answer Number&lt;br&gt;
returns 0 if success.</wsdl:documentation>
      <wsdl:input message="tns:CheckUserAnswerSoapIn" />
      <wsdl:output message="tns:CheckUserAnswerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetErrDesc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get ErrorCode description message&lt;br&gt;
lang = ru|en</wsdl:documentation>
      <wsdl:input message="tns:GetErrDescSoapIn" />
      <wsdl:output message="tns:GetErrDescSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapSoap" type="tns:SoapSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChallenge">
      <soap:operation soapAction="http://tempuri.org/GetChallenge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserAnswer">
      <soap:operation soapAction="http://tempuri.org/CheckUserAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetErrDesc">
      <soap:operation soapAction="http://tempuri.org/GetErrDesc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoapSoap12" type="tns:SoapSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChallenge">
      <soap12:operation soapAction="http://tempuri.org/GetChallenge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserAnswer">
      <soap12:operation soapAction="http://tempuri.org/CheckUserAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetErrDesc">
      <soap12:operation soapAction="http://tempuri.org/GetErrDesc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Soap">
    <wsdl:port name="SoapSoap" binding="tns:SoapSoap">
      <soap:address location="http://service.enum.ru/soap.asmx" />
    </wsdl:port>
    <wsdl:port name="SoapSoap12" binding="tns:SoapSoap12">
      <soap12:address location="http://service.enum.ru/soap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>